.gameboard {
    background-color: lightblue;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 400px;
    width: 400px;
    border: 1px solid black;
}

.grid-item0, .grid-item1, .grid-item2, .grid-item3, .grid-item4, .grid-item5, .grid-item6, .grid-item7, .grid-item8 {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}